.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

mat-spinner {
  width: 12px;
  height: 12px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-list {
  flex-grow: 1;
}

mat-list-item {
  cursor: pointer;
  &:hover {
    color: gray;
  }
}

mat-card {
  display: flex;
  justify-content: space-between;
}

.product-code {
  margin-left: 8px;
}

.add-icon {
  text-align: right;
  justify-content: flex-end;
  font-size: 2em;
  cursor: pointer;
}

.selected {
  color: #673ab7;
}
