<mat-toolbar>Products</mat-toolbar>

<div *ngIf="loading$ | async" class="spinner-container">
  <mat-spinner style="width: 50px; height: 50px"></mat-spinner>
</div>

<mat-list class="flex-container" style="flex-direction: column">
  <mat-list-item *ngFor="let product of products$ | async" (click)="selectProduct(product)" class="flex-item">
    <span>{{ product.name }}</span>
    <span *ngIf="showCode$ | async" mat-card>({{ product.code }})</span>
  </mat-list-item>
</mat-list>

<mat-card style="display: flex; justify-content: space-between">
  <mat-checkbox [checked]="showCode$ | async" (change)="toggleCode()"> Show code </mat-checkbox>
  <mat-icon
    (click)="newProduct()"
    style="text-align: right; justify-content: flex-end; font-size: 2em; cursor: pointer"
    color="warn"
    matTooltip="Add product"
  >
    add_circle_outline
  </mat-icon>
</mat-card>
