<mat-toolbar>Bikes</mat-toolbar>

<div *ngIf="loading$ | async" class="spinner-container">
  <mat-spinner style="width: 50px; height: 50px"></mat-spinner>
</div>

<div style="display: flex; flex-direction: column; flex: 1">
  <div style="flex: 1">
    <mat-list>
      <mat-list-item *ngFor="let product of products$ | async" (click)="selectProduct(product)" style="width: 320px">
        <span>{{ product.name }}</span>
        <span *ngIf="showCode$ | async" mat-card style="margin-left: 8px">({{ product.code }})</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div style="margin-top: auto">
    <mat-card style="display: flex; justify-content: space-between">
      <mat-checkbox [checked]="showCode$ | async" (change)="toggleCode()"> Show code </mat-checkbox>
      <mat-icon
        (click)="newProduct()"
        style="text-align: right; justify-content: flex-end; font-size: 2em; cursor: pointer"
        color="warn"
        matTooltip="Add product"
      >
        add_circle_outline
      </mat-icon>
    </mat-card>
  </div>
</div>
