.flex-container {
  display: flex;
}

.flex-item {
  width: 320px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

mat-list-item {
  cursor: pointer;
}
