<mat-toolbar class="flex-container">
  <span>Details</span>
</mat-toolbar>

<mat-card style="max-width: 500px; min-width: 500px; margin: 24px" *ngIf="currentProduct$ | async">
  <mat-card-header></mat-card-header>
  <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" required minlength="3" />
          <mat-error *ngIf="!productForm.controls.name.valid">Invalid name</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" placeholder="Code" required />
          <mat-error *ngIf="!productForm.get('code').valid">Invalid code</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Category</mat-label>
          <input matInput formControlName="category" placeholder="Category" required />
          <mat-error *ngIf="!productForm.get('category').valid">Invalid category</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
          <mat-error *ngIf="false">Invalid description</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Rating</mat-label>
          <input matInput placeholder="Rating" formControlName="rating" />
          <mat-error *ngIf="false">Invalid rating</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="standard">
          <div class="file-upload">
            <input matInput readonly name="fileUploadDummy" style="display: none" />
            <button
              mat-mini-fab
              color="primary"
              class="upload-btn"
              matTooltip="Add image(s)"
              (click)="uploadFileInput.click()"
            >
              <mat-icon>attach_file</mat-icon>
            </button>
            <input
              type="file"
              style="display: none"
              formControlName="images"
              #uploadFileInput
              (change)="fileChangeEvent($event)"
              name="fileUpload"
              multiple
              accept="image/*"
            />
            <mat-list>
              <mat-list-item *ngFor="let selectedFile of selectedFiles; let idx = index">
                <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%">
                  <span style="font-size: 14px">{{ selectedFile.name }} {{ selectedFile.size }} kb</span>
                  <span
                    ><img [src]="selectedFile.base64" style="width: 30px; height: 30px; align-self: flex-end"
                  /></span>
                  <span
                    (click)="removeUploadFile(idx)"
                    style="cursor: pointer; align-self: flex-end; color: blueviolet"
                  >
                    <mat-icon style="width: 16px">delete</mat-icon>
                  </span>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-form-field>
      </div>
    </form>
    <!-- <div>TODO: spectator, i18n, validation messages, cypress, storybook.</div> -->
    <button mat-raised-button color="warn" (click)="saveProduct()" [disabled]="!product || !productForm.valid">
      Save
    </button>
    <button
      mat-raised-button
      (click)="deleteProduct()"
      [disabled]="!product || !productForm.valid"
      style="margin-left: 12px"
    >
      Delete
    </button>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>

<ng-template #confirmDialog let-data>
  <h2 mat-dialog-title>Confirmation</h2>
  <mat-dialog-content> Are you sure you want to delete {{ product.name }}? </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-dialog-close class="mat-raised-button">Cancel</button>
    <button [mat-dialog-close]="true" class="mat-raised-button mat-primary" style="margin-left: 16px">Delete</button>
  </mat-dialog-actions>
</ng-template>
