<stores-header></stores-header>

<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center none">
          <mat-form-field>
              <input matInput placeholder="username" type="text" #username>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="password" type="text" #password>
          </mat-form-field>
      </form>
      <button mat-raised-button >login</button>
  </mat-card-content>
</mat-card>

<div>Service status <span [ngClass]="{'green': serviceStatus, 'red': !serviceStatus}">{{serviceStatus}}</span></div>
