.sidenav-container {
  flex: 1;
  width: 100%;
  height: calc(100vh - 64px);
  position: fixed;
}

.sidenav {
  width: 340px;
  min-height: 100%;
}

.sidenav-content {
  display: flex;
}

stores-product-detail {
  width: 100%;
}
